<p *ngIf="!isAuthenticated">
  Try <a (click)="login()">Login</a> with Keycloak
</p>

<p *ngIf="isAuthenticated">
  Hi {{parsedToken.given_name}} {{parsedToken.family_name}}!
  <a *ngIf="isAuthenticated" (click)="logout()">Logout</a>
</p>

<a *ngIf="isAuthenticated" (click)="loadProfile()">My profile</a>

<div *ngIf="profile">
  <div>id : {{profile.id }} </div>
  <div>email : {{profile.email}} </div>
  <div>email verified : {{profile.emailVerified}} </div>
  <div>created : {{profile.createdTimestamp}} </div>
</div>


<a *ngIf="isAuthenticated" (click)="reloadData()">Load products</a>



