@if (!isAuthenticated) {
  <div>
    <button (click)="login()">Login</button>
  </div>
}

@if (isAuthenticated) {
  <div>
    <div>
      This is your token :
      <br>
        {{parsedToken | json}}
      </div>
      <button (click)="logout()">Logout</button>
      <br>
        <button (click)="loadProfile()">Load Profile</button>
        @if (profile) {
          <div>
            This is your profile :
            <br>
              {{profile | json}}
            </div>
          }
        </div>
      }
